<!DOCTYPE html>
<html>
<head>
  <title>ClubIncense</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>

<div class="container-narrow">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div> <!-- /container -->

<!-- load js after html -->
<%= javascript_include_tag "application" %>
</body>
</html>
